on:
  push:
    branches: [master]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o envar-${{ matrix.goarch }}-${{ matrix.goos }}${{ matrix.goos == 'windows' && '.exe' || '' }} .
        shell: 'nix develop -c bash -e {0}'
      - uses: actions/upload-artifact@v6
        with:
          name: envar-${{ matrix.goarch }}-${{ matrix.goos }}
          path: ./envar-*
  build-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix build .
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: go test
        shell: 'nix develop -c bash -e {0}'
  test-home-module:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-channel --add https://github.com/nix-community/home-manager/archive/master.tar.gz home-manager
      - run: nix-channel --update
      - run: nix-shell '<home-manager>' -A install
      - run: home-manager build --flake .#test
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix flake check
